/* General styles */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f9;
  color: #333;
}

.container {
  width: 300px;
  margin: 50px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 14px;
}

.styled-select {
  width: 100%;
  padding: 8px 12px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  transition: background-color 0.3s;
}

.styled-select:focus {
  background-color: #e0f7fa;
  outline: none;
}

.input-group {
  margin-bottom: 20px;
}

.input-field {
  width: 90%;
  padding: 8px 12px;
  margin-bottom: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.3s;
}

.input-field:focus {
  border-color: #007bff;
  outline: none;
}

/* Buttons */
.btn {
  width: 100%;
  padding: 10px 0;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #0056b3;
}

.btn-reset {
  background-color: #dc3545;
}

.zoom-in {
  background-color: #4CAF50;
  /* Green */
}

.zoom-out {
  background-color: #FF5722;
  /* Orange */
}

.toggle {
  background-color: #9C27B0;
  /* Purple */
}

.rotate-right {
  background-color: #2196F3;
  /* Blue */
}

.rotate-left {
  background-color: #FFC107;
  /* Amber */
}

.btn-reset:hover {
  background-color: #c82333;
}

.status-container {

  font-family: 'Arial', sans-serif;
  font-size: 18px;
  background-color: #f0f4f8;
  /* Light background for contrast */
  padding: 20px;
  border-radius: 10px;
  /* Smooth corners */
  width: 200px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* Light shadow */
  color: #333;
  margin: 20px auto;
  /* Center the container */
}

.status-container p {
  margin: 10px 0;
  font-weight: bold;
}

.status-container span {
  font-size: 24px;
  color: #007bff;
  /* Make the value stand out */
}
